<section class="section">
  <div class="container">
    <h1 class="title">Product List</h1>

    <!-- Formulário para adicionar produto -->
    <div class="box">
      <h2 class="subtitle">Add a New Product</h2>
      <div class="field">
        <label class="label">Product Name</label>
        <div class="control">
          <input
            class="input"
            #productName
            type="text"
            placeholder="Product name"
          >
        </div>
      </div>

      <div class="field">
        <label class="label">Product Price</label>
        <div class="control">
          <input
            class="input"
            #productPrice
            type="number"
            placeholder="Product price"
          >
        </div>
      </div>

      <div class="control">
        <button
          class="button is-primary"
          (click)="addProduct(productName.value, productPrice.value)"
        >Add Product</button>
      </div>
    </div>

    <!-- Listagem de Produtos -->
    <div class="box">
      <h2 class="subtitle">Products</h2>

      <ul>
        <li
          *ngFor="let product of products$ | async"
          class="is-flex is-justify-content-space-between is-align-items-center"
        >
          <span>
            <strong>{{ product.name }}</strong> - ${{ product.price }}
          </span>
          <button
            class="button is-danger is-small"
            (click)="removeProduct(product.id)"
          >Remove</button>
        </li>
      </ul>
    </div>
  </div>
</section>
